---
import { loadNotes } from '../../scripts/loadNotes'
import BaseLayout from "../../layouts/BaseLayout.astro"
import NotesPost from "../../components/NotesPost.astro"

export const prerender = true;

export async function getStaticPaths() {
  const postsPerPage = 10; // Number of posts per page
  const allPosts = loadNotes();

  // Calculate total pages
  const totalPages = Math.ceil(allPosts.length / postsPerPage);

  // Generate paths for each page
  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: (i + 1).toString() }, // Page numbers as strings
  }));
}

const postsPerPage = 10; // Number of posts per page
const currentPage = Astro.params.page || 1; // Get the current page number from the URL

const pageTitle = 'Recent Notes'
const allPosts = loadNotes();

const filteredPosts = allPosts
    .filter(post => post.type === 'notes')
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

const totalPages = Math.ceil(filteredPosts.length / postsPerPage);

// Slice posts for the current page
const startIndex = (currentPage - 1) * postsPerPage;
const endIndex = startIndex + postsPerPage;
const paginatedNotes = filteredPosts.slice(startIndex, endIndex);
---

<BaseLayout lang="ko" pageTitle={ pageTitle }>
    <div class="blog-post-container">
        {paginatedNotes.map((post) =>
            <NotesPost
                url={post.url}
                title={post.title}
                tags={post.tags}
                date={post.date.toString().slice(0,10)}
            />
        )}
    </div>

    <nav class="pagination">
        {currentPage > 1 && (
          <a href={`/notes/${currentPage - 1}`} class="pagination-prev">
            Previous
          </a>
        )}
    
        {Array.from({ length: totalPages }, (_, i) => (
          <a
            href={`/notes/${i + 1}`}
            class={`pagination-page ${i + 1 === currentPage ? "active" : ""}`}
          >
            {i + 1}
          </a>
        ))}
    
        {currentPage < totalPages && (
          <a href={`/notes/${currentPage + 1}`} class="pagination-next">
            Next
          </a>
        )}
    </nav>
</BaseLayout>
