@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
    background-color: #f8fbf8;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    margin: 0 auto;
    width: 40rem;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.8rem;
    word-break: keep-all;
    margin-bottom: 200px;
}

* {
    box-sizing: border-box;
}

ol, ul {
    margin: 0;
    padding-left: 1.3rem;
}
li {
    padding-left: 1rem;
    line-height: 1.8rem;
}

.contains-task-list {
    position: relative;
    list-style-type: none;
    left: -1.3rem;
}

.contains-task-list li {
    padding: 0;
}

.task-list-item input {
    margin-right: 1rem;
}



a {
    color: #212121b0;
    text-decoration-style: dotted;
    text-decoration-color: #212121;
    text-decoration-thickness: 1.2px;
    transition: 0.2s ease-in-out;
}
a:hover {
    color: #212121;
    background-color: #00ffbf45;
}
a.external-link:hover {
    background-color: #d7d7cd;
}

:root {
    font-size: 16px;
    color: #212121;
    text-underline-offset: 0.25em;
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}


h2, h3, h4, h5, h6 { 
    font-size: var(--step--1);
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 1.8em;
}
p {
    font-size: var(--step--1);
    margin-bottom: 1.8rem;
    margin-top: 0;
}

p::selection, li::selection, a::selection, u::selection,
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
    background-color: #e4e9e1;
}

u {
    text-decoration-color: #212121;
    text-decoration-thickness: 1px;
}

h1 {
    font-size: var(--step-2);
    line-height: 1.2em;
    margin-bottom: 1rem;
    margin-top: 100px;
}

/* nav */

.side {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 300px;
    position: fixed;
}

.nav-links a {
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0 10px;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a.current {
    background-color: #e4e9e1;
}

/* tag */

.tag-button {
    position: relative;
    display: inline;
    background-color:  #e4e9e1;
    padding: 0 8px;
    font-size: var(--step--2);
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.tag-button:hover {
    background-color: #d7d7cd;
}
.tag-button a { 
    text-align: center;
    text-decoration: none;
}
.tag-button a:hover { 
    background-color: #ffffff00;
}

.tag-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 0;
}

img {
    width: 100%;
    height: auto;
    filter: grayscale();
    transition: 0.3s ease-in-out;
}
img:hover {
    filter: none;
}

p.frontmatter {
    font-family: monospace;
    font-size: var(--step--2);
    margin: 0;
    line-height: 1.2rem;
    opacity: 50%;
}

/* header */
header {
    position: fixed;
    width: 100%;
    height: 3em;
    padding: 1em 20px 0 20px;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out, transform 0.4s;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.header a {
    padding: 0 10px;
}

.header a:nth-child(2) {
    margin-left: 70vw;
}

.scroll-down header {
    opacity: 0;
    transform: translateY(-100%); /* Slide header up */
}
.scroll-up header {
    opacity: 1;
    transform: translateY(0); /* Reset position */
}

/* blockquote */
blockquote {
    background-color: #e4e9e1;
    display: block;
    padding-block-start: 1em;
    padding-block-end: 1em;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    margin: 0;
}
blockquote p {
    margin: 0;
}

/* blogpost */
a.blog-post {
    text-decoration: none;
    color: #212121;
    font-size: var(--step-0);
    display: inline;
}
a.blog-post:hover {
    background-color: #e4e9e100;
    opacity: 0.5;
}
hr.blog-post {
    border: 0.5px solid #212121;
}
ul.blog-post {
    margin-top: 100px;
    padding: 0;
}
div.blog-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.blog-post > div {
    width: 200px;
}
p.blog-post {
    margin: 0;
}

/* blogCard */
ul.blog-card {
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: end; 
    gap: 1rem;
}
img.blog-card {
    filter: none;
    width: 100%;
    top: 0;
}
div.blog-card {
    width: 200px;
    height: auto;

}

p.description {
    margin-top: 1rem;
    line-height: 1.5rem;
}