---
import GlobalGraph from "../components/GlobalGraph";
---
<style>
    /* Full-screen overlay styling */
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 90vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000; /* Ensure it overlays everything */
      color: white;
    }
    .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      background: none;
      border: none;
      color: white;
      font-size: 1.2em;
      cursor: pointer;
    }
  </style>
  
  <!-- Overlay Container -->
  <div class="overlay">
    <GlobalGraph client:only />
    <button class="close-button" onclick="window.history.back()">Close</button>
  </div>