---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
	<p>I am Solmi. I design. This is my digital garden. Recently—last edited on Oct 30, 2024— I have been learning German, working on Libropia, and have finished Journal Shrine.</p>
</BaseLayout>
