---
import BaseLayout from "../layouts/BaseLayout.astro"
import Newsletter from "../components/Newsletter"

const pageTitle = '이 웹사이트는...'

import { loadNotes } from '../scripts/loadNotes'
import LogbooksPost from "../components/LogbooksPost.astro";
const allPosts = loadNotes();

const filteredPosts = allPosts
    .filter(post => post.type === 'logbooks' && post.overview === true)
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<BaseLayout pageTitle={pageTitle}>
	<ol>
		<li>
			<a class="internal" href="/#AboutMe">나</a>의 디지털 가든이다.
		</li>
		<li>위계 없이 서로 연결된 노트들로 구성된다.</li>
		<li>모든 노트는 다음 세 타입 중 하나에 속한다.
			<ul>
				<li><code>Notes</code>에는 프로젝트의 시작이 되는 생각이,
				<li><code>Logbooks</code>에는 프로젝트의 시작부터 끝까지의 기록이,</li>
				<li><code>Works</code>에는 완성된 프로젝트의 결과물이 속한다.</li>
			</ul>
		</li>
		<li>이 웹사이트는 세 가지 내비게이션 방법을 제공한다.
			<ol>
				<li>세 페이지<code>Notes</code>, <code>Logbooks</code>, <code>Works</code>는 각 타입의 노트들을 단순히 시간순으로 나열한다.</li>
				<li><code>Search...</code>는 노트의 내부 텍스트를 검색한다.</li>
				<li>그래프
					<code><svg width="21px" xmlns="http://www.w3.org/2000/svg" viewBox="0 -9 24 24">
						<path class="light" d="M10 1.5 10 2.5 12.79 2.5 8 7.29 3.21 2.5 6 2.5 6 1.5 2 1.5 1.5 2 1.5 6.04 2.5 6.04 2.5 3.21 7.29 8 2.5 12.79 2.5 10 1.5 10 1.5 14.04 2 14.54 6 14.54 6 13.54 3.16 13.54 8 8.71 12.84 13.54 10 13.54 10 14.54 14 14.54 14.5 14.04 14.5 10 13.5 10 13.5 12.79 8.71 8 13.5 3.21 13.5 6.04 14.5 6.04 14.5 2 14 1.5 10 1.5z"/>
						<path class="dark" d="M10 1.5 10 2.5 12.79 2.5 8 7.29 3.21 2.5 6 2.5 6 1.5 2 1.5 1.5 2 1.5 6.04 2.5 6.04 2.5 3.21 7.29 8 2.5 12.79 2.5 10 1.5 10 1.5 14.04 2 14.54 6 14.54 6 13.54 3.16 13.54 8 8.71 12.84 13.54 10 13.54 10 14.54 14 14.54 14.5 14.04 14.5 10 13.5 10 13.5 12.79 8.71 8 13.5 3.21 13.5 6.04 14.5 6.04 14.5 2 14 1.5 10 1.5z"/>
					</svg></code>
					는 노트들의 연결을 시각화하고, 주제별로 필터링한다.
				</li>
			</ol>
		</li>
		<li>이 웹사이트를 만들게 된 계기와 기획에 영감이 된 개념들은 <a>여기에서</a>,
			디자인 가이드라인과 레퍼런스는 <a>여기에서</a>,
			개발 과정과 참고한 사이트는 <a>여기에서</a> 확인할 수 있다.
		</li>
	</ol>
	<blockquote>
		tip! 노트 페이지에서 화면 폭을 넓히면 지역 그래프가 나타난다. 눈 모양 아이콘을 클릭해 숨길 수도 있다. 인터랙션이 오작동할 때는 새로고침을 두 번 정도 하면 아마도 고쳐질 것!
	</blockquote>

	<h1 id="AboutMe">나는...</h1>
	<ul>
		<li>그래픽 디자이너이다.</li>
		<li>...를 배우고 있다.</li>
		<li><a class="internal" href="/markdowns/solmee-xyz">Digital Garden</a> 프로젝트를 진행하고 있다.</li>
		<li>최근 <a class="internal" href="/markdowns/dr-phong">dr.phong</a>을 완성했다.</li>
		<li>email</li>
	</ul>

	<h1>뉴스레터</h1>
	<ul>
		<li>가까운 미래에는 뉴스레터를 보낼 계획이 없지만 그냥 넣어보았다.</li>
	</ul>
	<Newsletter client:load />
</BaseLayout>

<script src='../scripts/index.js'></script>