---
import BaseLayout from "../layouts/BaseLayout.astro"
import Newsletter from "../components/Newsletter"
const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
	<p>I am Solmi. I design. This is my digital garden. Recently—last edited on Oct 30, 2024— I have been learning German, working on Libropia, and have finished Journal Shrine.</p>
	<Newsletter client:load />
	<a href="/cv/">CV</a>
	<a href="/rss.xml" title="RSS Feed" target="_blank" rel="noopener noreferrer">RSS</a>
	<a href="/tags/">tags</a>
</BaseLayout>
