---
import { loadNotes } from '../scripts/loadNotes'
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogCard from "../components/BlogCard.astro";

const pageTitle = 'Logbooks'
const allPosts = loadNotes();

const filteredPosts = allPosts
    .filter(post => post.type === 'logbooks' && post.overview === true)
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<BaseLayout pageTitle={ pageTitle }>
    <div class="blog-card-container">
        {filteredPosts.map((post) =>
            <BlogCard
                url={post.url}
                title={post.title}
                tags={post.tags}
                date={post.date.toString().slice(0,10)}
                thumbnailUrl={post.thumbnail}
                alt={post.alt || "Default alt text"}
            />
        )}
    </div>
</BaseLayout>