---
import BaseLayout from "../layouts/BaseLayout.astro"
import Blogpost from "../components/BlogPost.astro";
const pageTitle = 'Notes'
const allPosts = await Astro.glob('./markdowns/*.md');

const filteredPosts = allPosts
    .filter(post => post.frontmatter.type === 'notes')
    .sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());
---

<BaseLayout pageTitle={ pageTitle }>
    <div class="blog-post-container">
        {filteredPosts.map((post) =>
            <Blogpost
                url={post.url}
                title={post.frontmatter.title}
                tags={post.frontmatter.tags}
                date={post.frontmatter.date.toString().slice(0,10)}
            />
        )}
    </div>
</BaseLayout>
