---
import { loadNotes } from '../scripts/loadNotes'
import BaseLayout from "../layouts/BaseLayout.astro"
import NotesPost from "../components/NotesPost.astro"

const pageTitle = 'Recent Notes'
const allPosts = loadNotes();

const filteredPosts = allPosts
    .filter(post => post.type === 'notes')
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
---

<BaseLayout lang="ko" pageTitle={ pageTitle }>
    <div class="blog-post-container">
        {filteredPosts.map((post) =>
            <NotesPost
                url={post.url}
                title={post.title}
                tags={post.tags}
                date={post.date.toString().slice(0,10)}
            />
        )}
    </div>
</BaseLayout>
