---
import { loadNotes } from '../scripts/loadNotes'
import BaseLayout from "../layouts/BaseLayout.astro"
import WorksPost from "../components/WorksPost.astro";

const pageTitle = 'Recent Works'
const allPosts = loadNotes();

const filteredPosts = allPosts
    .filter(post => post.type === 'works')
    .sort((a, b) => b.date - a.date);
---

<BaseLayout lang="ko" pageTitle={ pageTitle }>
    <div class="blog-post-container">
        {filteredPosts.map((post) =>
            <WorksPost
                url={post.url}
                title={post.alias || post.aliases[0]}
                tags={post.tags}
                date={post.date}
                thumbnailUrl={post.thumbnail}
                alt={post.alt || "Default alt text"}
            />
        )}
    </div>
</BaseLayout>