---
const { url, title, tags, date } = Astro.props;
---

<div class="blog-post">
    <a class="blog-post" href={url}>{title}</a>
    <div>
        {tags &&
            <div class="tag-container">
                {tags.map((tag) => <div class="tag">{tag}</div>)}
            </div>
        }
        <p class="frontmatter" class="blog-post">{date}</p>
    </div>
</div>
<hr class="blog-post">