---
const { url, title, tags, date } = Astro.props;
import NoteTagButton from "./NoteTagButton";
---

<div class="blog-post">
    <a class="blog-post" href={url}>{title}</a>
    <div>
        {tags &&
            <div class="tag-button-container">
                {tags.map((tag) => <NoteTagButton client:only tag={tag}/>)}
            </div>
        }
        <p class="frontmatter" class="blog-post">{date}</p>
    </div>
</div>
<hr class="blog-post">