---

---

<footer>
    <div class="copyright">2024 Jeong Solmi</div>
    <div class="footer-container">
        <a class="internal" href="/">solmee.xyz</a>
        <a class="internal" href="/">About this Website</a>
    </div>
    <div>
        <a class="internal" href="/rss.xml" title="RSS Feed" target="_blank" rel="noopener noreferrer">
            RSS
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 3">
                <path class="light" d="M7.5,15.2h2.9c0-5.3-4.4-9.5-9.5-9.5v2.9C4.5,8.7,7.3,11.6,7.5,15.2z"/>
	            <path class="light" d="M12.4,15.2h2.9c0-8-6.5-14.5-14.6-14.6v2.9C7.2,3.7,12.4,8.8,12.4,15.2z"/>
	            <path class="light" d="M2.7,15.2c1.1,0,1.9-0.8,1.9-1.9s-0.8-1.9-1.9-1.9s-1.9,0.8-1.9,1.9C0.8,14.4,1.6,15.2,2.7,15.2z"/>
                <path class="dark" d="M7.5,15.2h2.9c0-5.3-4.4-9.5-9.5-9.5v2.9C4.5,8.7,7.3,11.6,7.5,15.2z"/>
	            <path class="dark" d="M12.4,15.2h2.9c0-8-6.5-14.5-14.6-14.6v2.9C7.2,3.7,12.4,8.8,12.4,15.2z"/>
	            <path class="dark" d="M2.7,15.2c1.1,0,1.9-0.8,1.9-1.9s-0.8-1.9-1.9-1.9s-1.9,0.8-1.9,1.9C0.8,14.4,1.6,15.2,2.7,15.2z"/>
            </svg>
        </a>
    </div>
</footer>