---

---

<footer>
    <div class="copyright">2024 Jeong Solmi</div>
    <div class="footer-container">
        <a href="/">solmee.xyz</a>
        <a href="/cv/">About</a>
        <a href="/tags/">Tags</a>
    </div>
    <div>
        <a href="/rss.xml" title="RSS Feed" target="_blank" rel="noopener noreferrer">RSS</a>
    </div>
</footer>