---

---

<footer>
    <div class="copyright">2024 Jeong Solmi</div>
    <a class="internal" href="/rss.xml" title="RSS Feed" target="_blank" rel="noopener noreferrer">RSS</a> <br>
    <a href="https://www.instagram.com/s0lrni/">Instagram</a>
</footer>