---
import GlobalGraphContainer from "./GlobalGraphContainer"
---

<button
    onclick="window.location.href = '/?openModal=globalGraph'"
    data-tooltip="Open full graph"
>
    <svg width="21px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
        <polygon class="light" points="2.5,3.2 5.7,6.4 6.4,5.7 3.2,2.5 6,2.5 6,1.5 2,1.5 1.5,2 1.5,6 2.5,6 	"/>
        <polygon class="light" points="6.4,10.3 5.7,9.6 2.5,12.8 2.5,10 1.5,10 1.5,14 2,14.5 6,14.5 6,13.5 3.2,13.5 	"/>
        <polygon class="light" points="13.5,12.8 10.3,9.6 9.6,10.3 12.8,13.5 10,13.5 10,14.5 14,14.5 14.5,14 14.5,10 13.5,10 	"/>
        <polygon class="light" points="14,1.5 10,1.5 10,2.5 12.8,2.5 9.6,5.7 10.3,6.4 13.5,3.2 13.5,6 14.5,6 14.5,2 	"/>
        
        <polygon class="dark" points="2.5,3.2 5.7,6.4 6.4,5.7 3.2,2.5 6,2.5 6,1.5 2,1.5 1.5,2 1.5,6 2.5,6 	"/>
        <polygon class="dark" points="6.4,10.3 5.7,9.6 2.5,12.8 2.5,10 1.5,10 1.5,14 2,14.5 6,14.5 6,13.5 3.2,13.5 	"/>
        <polygon class="dark" points="13.5,12.8 10.3,9.6 9.6,10.3 12.8,13.5 10,13.5 10,14.5 14,14.5 14.5,14 14.5,10 13.5,10 	"/>
        <polygon class="dark" points="14,1.5 10,1.5 10,2.5 12.8,2.5 9.6,5.7 10.3,6.4 13.5,3.2 13.5,6 14.5,6 14.5,2 	"/>
    </svg>
</button>

<dialog id="globalGraph" class="globalGraph">
    <main class="graph-container">
        <GlobalGraphContainer client:only />
    </main>
    <form method="dialog">
        <button class="close-button" onclick="window.closeModalAndGoBack('globalGraph')">Close</button> 
    </form>
</dialog>

<script>
    import "../scripts/graphModal.js";
</script>