---
import GraphModal from './GraphModal.astro';

const currentUrl = new URL(Astro.request.url);
const isMarkdownPage = currentUrl.pathname.includes("markdown");
---

<div class="graph-controller">
    <GraphModal />
    {isMarkdownPage ?
        <button
            data-tooltip="지역 그래프 숨기기/보이기"
            id="localGraphButton"
            value="show">
            <svg id="graphIcon" width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"></svg>
        </button>
    : null}
</div>

<script src="../scripts/graphController.js"></script>