---
import Modal from "./Modal.astro";
---

<div class="nav-links">
    <a class="home" href="/">solmee.xyz</a>
    <a class="notes" href="/notes/1"><span>↳</span> Journals</a>
    <a class="logbooks" href="/logbooks/1"><span>↳</span> Logbooks</a>
    <a class="works" href="/works/"><span>↳</span> Works</a>
    <br/>
    <Modal />
</div>