---
import Graph from "./Graph.jsx"
---

<div class="local-graph-container nav-links right">
    <Graph client:only />
</div>

<script>
    const path = window.location.pathname;

    const fileName = path.substring(path.lastIndexOf("/") + 1);
</script>