---

---

<button onclick="document.getElementById('pagefind').showModal()">Search</button>

<dialog id="pagefind" class="pagefind">
    <main>
        <div id="search"></div>
        <script>
            import "../scripts/pageFind.js";
        </script>
    </main>
    <form method="dialog">
        <button></button>
        <button
            class="close-button"
            onclick="document.getElementById('pagefind').close()"
        >
            Close
        </button>
    </form>
</dialog>