---

---

<div class="nav-links">
    <a href="/">solmee.xyz</a>
    <a href="/notes/">Notes</a>
    <a href="/logbooks/">Logbooks</a>
    <a href="/works/">Works</a>
    <a href="/newsletter/">Newsletter</a>
    <a href="/cv/">CV</a>
    <a href="/tags/">tags</a>
</div>