---
const { url, title, tags, date } = Astro.props;
---

<hr class="blog-post-hr">
<div class="blog-post">
    <a href={url} class="blog-post-title-frontmatter">
        <p class="blog-post-title">{title}</p>
        <div class="blog-post-frontmatter">
            {tags &&
                <div class="tag-container">
                    {tags.map((tag) => <div class="tag">{tag}</div>)}
                </div>
            }
            <p class="frontmatter" class="blog-post">{date}</p>
        </div>
    </a>
</div>