---
const { type, currentPage, totalPages } = Astro.props;
const numericCurrentPage = +currentPage;
---

<nav class="pagination">
    {Array.from({ length: totalPages }, (_, i) => (
      <a
        href={`/${type}/${i + 1}`}
        class={`pagination-page ${i + 1 === numericCurrentPage ? "active" : ""}`}
      >
        {i + 1}
      </a>
    ))}
</nav>