---
const { type, currentPage, totalPages } = Astro.props;
const numericCurrentPage = +currentPage;
---

<nav class="pagination">
  <!-- {currentPage > 1 && (
    <a href={`/${type}/${currentPage - 1}`} class="pagination-prev">
      〈
    </a>
  )} -->

  {Array.from({ length: totalPages }, (_, i) => (
    <a
      href={`/${type}/${i + 1}`}
      class={`pagination-page ${i + 1 === numericCurrentPage ? "active" : ""}`}
    >
      {i + 1}
    </a>
  ))}

  <!-- {currentPage < totalPages && (
    <a href={`/${type}/${+currentPage + 1}`} class="pagination-next">
      〉
    </a>
  )} -->
</nav>