---
import Modal from "./Modal.astro";
---

<div class="nav-links">
    <a href="/" class="solmeexyz">
        <img src="/logo.svg">
        solmee.xyz
    </a>
    <br>
    <a class="notes" href="/notes/">Notes</a>
    <a class="logbooks" href="/logbooks/">Logbooks</a>
    <a class="works" href="/works/">Works</a>
    <br>
    <Modal />
</div>