---
// @ts-nocheck
import Modal from "./Modal.astro"
import GlobalGraph from "./GlobalGraph"
import Tags from "./Tags.astro"
---

<div class="nav-links">
    <Modal id="globalGraph" open="logo">
        <main class="graph-container" slot="main">
            <GlobalGraph client:only />
            <p class="graph-caption">Left-click: rotate, Mouse-wheel/middle-click: zoom, Right-click: pan</p>
            <div class="graph-tags">
                <Tags />
            </div>
        </main>
        <button
            class="close-button"
            slot="close"
            onclick="console.log('Close button clicked, dispatching event'); window.dispatchEvent(new Event('close-global-graph'))"
        >
            Close
        </button>
    </Modal>
    <!-- <a href="/graph/">
        <img class="logo" src="/logo.svg">
    </a> -->

    <a href="/">solmee.xyz</a>

    <Modal id="pagefind" open="search">
        <main slot="main">
            <div id="search"></div>
            <script>
                import "../scripts/sideNav";
            </script>
        </main>
        <button class="close-button" slot="close">Close</button>
    </Modal>

    <a class="notes" href="/notes/">Notes</a>
    <a class="logbooks" href="/logbooks/">Logbooks</a>
    <a class="works" href="/works/">Works</a>

    <div class="toggle-container">
        <label for="theme" class="switch theme">
            <input id="theme" type="checkbox">
            <span class="slider"></span>
        </label>
        <span>dark mode</span>
    </div>

    <div class="toggle-container">
        <label for="localgraph" class="switch localgraph">
            <input id="localgraph" type="checkbox">
            <span class="slider"></span>
        </label>
        <span>hide local graph</span>
    </div>

    <br>
</div>