---
import Modal from "./Modal.astro"
import Graph from "./Graph.jsx"
import Tags from "./Tags.astro"
---

<div class="nav-links side">
    <a href="/">solmee.xyz</a>
    <a class="notes" href="/notes/">Notes</a>
    <a class="logbooks" href="/logbooks/">Logbooks</a>
    <a class="works" href="/works/">Works</a>
    <br>
    
    <Modal id="pagefind" open="Search">
        <main slot="main">
            <div id="search"></div>
            <script>
                import "../scripts/sideNav";
            </script>
        </main>
        <button class="close-button" slot="close">Close</button>
    </Modal>
    <Modal id="globalGraph" open="Graph">
        <main class="graph-container" slot="main">
            <Graph client:only />
            <p class="graph-caption">Left-click: rotate, Mouse-wheel/middle-click: zoom, Right-click: pan</p>
            <div class="graph-tags">
                <Tags />
            </div>
        </main>
        <button class="close-button" slot="close">Close</button>
    </Modal>
</div>