---
import Modal from "./Modal.astro"
---

<div class="nav-links side">
    <a class="notes" href="/notes/">Notes</a>
    <a class="logbooks" href="/logbooks/">Logbooks</a>
    <a class="works" href="/works/">Works</a>
    <br>
    
    <Modal id="pagefind" open="Search">
        <main class="dialog-main" slot="main">

            <div id="search"></div>
            <script>
                import "../scripts/sideNav";
            </script>
        </main>
        <button class="close-button" slot="close">Close</button>
    </Modal>
</div>