---
import Modal from "./Modal.astro"
import GraphModal from "./GraphModal.astro"
---

<div class="nav-links">
    <GraphModal />

    <a href="/">solmee.xyz</a>

    <Modal id="pagefind" open="search">
        <main slot="main">
            <div id="search"></div>
            <script>
                import "../scripts/sideNav";
            </script>
        </main>
        <button class="close-button" slot="close">Close</button>
    </Modal>

    <a class="notes" href="/notes/">Notes</a>
    <a class="logbooks" href="/logbooks/">Logbooks</a>
    <a class="works" href="/works/">Works</a>

    <div>
        <label for="theme"></label>
        <input id="theme" type="checkbox" value="light">
    </div>

    <div>
        <label for="localgraph"></label>
        <input id="localgraph" type="checkbox" value="show">
    </div>

    <br>
</div>