---
import Toc from './Toc.jsx'
import LocalGraph from "./LocalGraph.jsx"
import GraphController from "../components/GraphController.astro"
---

<aside>
    <GraphController />
    <div class="local-graph-container">
        <LocalGraph client:only="react" />
    </div>
    <Toc client:load />
</aside>