---
import Modal from "./Modal.astro"
import SearchBar from "./SearchBar.astro"
---

<div class="nav-links side">
    <a class="notes" href="/notes/">Notes</a>
    <a class="logbooks" href="/logbooks/">Logbooks</a>
    <a class="works" href="/works/">Works</a>
    <br>
    <a href="/newsletter/">Newsletter</a>
    <a href="/cv/">CV</a>
    <br>
    <a href="/tags/">tags</a>
    <a href="/rss.xml" title="RSS Feed" target="_blank" rel="noopener noreferrer">RSS</a>
    <Modal id="dialog" open="Search">
        <main class="dialog-main" slot="main">
            <SearchBar />
        </main>
        <button class="close-button" slot="close">Close</button>
    </Modal>
</div>