---
// @ts-nocheck
import Modal from "./Modal.astro"
import Modal2 from "./Modal2.astro"
import GlobalGraphContainer from "./GlobalGraphContainer"
---

<div class="nav-links">
    <Modal2 id="globalGraph" open="logo">
        <main class="graph-container" slot="main">
            <GlobalGraphContainer client:only />
        </main>
        <button class="close-button" slot="close">
            Close
        </button>
    </Modal2>

    <a href="/">solmee.xyz</a>

    <Modal id="pagefind" open="search">
        <main slot="main">
            <div id="search"></div>
            <script>
                import "../scripts/sideNav";
            </script>
        </main>
        <button class="close-button" slot="close">Close</button>
    </Modal>

    <a class="notes" href="/notes/">Notes</a>
    <a class="logbooks" href="/logbooks/">Logbooks</a>
    <a class="works" href="/works/">Works</a>

    <div class="toggle-container">
        <label for="theme" class="switch theme">
            <input id="theme" type="checkbox">
            <span class="slider"></span>
        </label>
        <span>dark mode</span>
    </div>

    <div class="toggle-container">
        <label for="localgraph" class="switch localgraph">
            <input id="localgraph" type="checkbox">
            <span class="slider"></span>
        </label>
        <span>hide local graph</span>
    </div>

    <br>
</div>