---

---

<div class="nav-links side">
    <a href="/notes/">Notes</a>
    <a href="/logbooks/">Logbooks</a>
    <a href="/works/">Works</a>
    <br>
    <a href="/newsletter/">Newsletter</a>
    <a href="/cv/">CV</a>
    <a href="/tags/">tags</a>
</div>