---
import '../styles/global.css'
import Header from "../components/Header.astro";
import Side from "../components/Side.astro";
import Toc from '../components/Toc';
import Footer from '../components/Footer.astro';

const { pageTitle, linkType } = Astro.props
const linkClass = linkType === "logbooks" ? "logbooks-link" : "default-link";
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
</head>
<body>
    <Header />
    <Side />
    <h1>{pageTitle}</h1>
    <main role="main">
        <slot />
    </main>
    <Toc client:load />
    <Footer />
</body>

<script define:vars={{linkClass}}>
    /* external link */

    var links = document.links;
    
    for (var i = 0; i < links.length; i++) {
        if (links[i].hostname !== window.location.hostname) {
            links[i].classList.add("external-link");
            links[i].textContent += ' ↗';

            links[i].addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default link behavior

                window.open(
                    this.href,
                    'popupWindow',
                    'width=800,height=600,scrollbars=yes,resizable=yes'
                );
            });
        } else links[i].classList.add(linkClass);
    }
</script>
<script>
    import "../scripts/baseLayout";
</script>
</html>