---
import '../styles/global.css';
import SideLeft from "../components/SideLeft.astro";
import SideRight from "../components/SideRight.astro";
import Footer from '../components/Footer.astro';
import Modal from "../components/Modal.astro";
import MarkdownImage from "../components/MarkdownImage.astro";
import Guestbook from "../components/Guestbook.jsx";
import GoToTop from "../components/GoToTop.astro";

const { pageTitle } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.svg" />
    <link rel="preload" href="/fonts/notoserif-subset.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/pretendard-subset.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:description" content="Solmi's Digital Garden" />
    <meta property="og:image" content="/favicon.svg" />
    <script data-goatcounter="https://solmeexyz.goatcounter.com/count"
        async src="https://gc.zgo.at/count.js"></script>
    <title>{pageTitle}</title>
</head>
<body>
    <div class="u-container">
        <div class="u-grid">
            <div class="grid-item left">
                <SideLeft />
            </div>
            <div class="grid-item note-content" style="grid-column: span 7;">
                <h1 lang="ko">{pageTitle}</h1>
                <main role="main">
                    <slot lang="ko" components = {{ img: MarkdownImage }} />
                </main>
                <Footer />
            </div>
            <div class="grid-item right" id="gridItemRight" style="grid-column: span 3;">
                <SideRight />
            </div>
        </div>
    </div>
    <GoToTop />
    <Guestbook client:load />
    <script src="../scripts/baseLayout.js"></script>
</body>
</html>