---
import '../styles/global.css';
import SideLeft from "../components/SideLeft.astro";
import SideRight from "../components/SideRight.astro";
import Footer from '../components/Footer.astro';
import Modal from "../components/Modal.astro";
import MarkdownImage from "../components/MarkdownImage.astro";

const { pageTitle } = Astro.props
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description" content="Solmi's Digital Garden" />
    <meta property="og:image" content="/favicon.svg" />
    <script data-goatcounter="https://solmeexyz.goatcounter.com/count"
        async src="https://gc.zgo.at/count.js"></script>
    <title>{pageTitle}</title>
</head>
<body>
    <div class="u-container">
        <div class="u-grid">
            <div class="grid-item left">
                <SideLeft />
            </div>
            <div class="grid-item note-content" style="grid-column: span 7;">
                <h1 lang="ko">{pageTitle}</h1>
                <main role="main">
                    <slot lang="ko" components = {{ img: MarkdownImage }} />
                </main>
            </div>
            <div class="grid-item right" id="gridItemRight" style="grid-column: span 3;">
                <SideRight />
            </div>
        </div>
    </div>
    <div class="u-container">
        <div class="u-grid">
            <div class="grid-item" style="grid-column: span 2;"></div>
            <div class="grid-item footer-container">
                <Footer />
            </div>
        </div>
    </div>
    <script src="../scripts/baseLayout.js"></script>
</body>
</html>