---
import Header from "../components/Header.astro";
import Side from "../components/Side.astro";
const { pageTitle } = Astro.props
import '../styles/global.css'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
</head>
<body>
    <Header />
    <Side />
    <h1>{pageTitle}</h1>
    <slot />
</body>
<script>
    var links = document.links;
    for (var i = 0; i < links.length; i++) {
        if (links[i].hostname !== window.location.hostname) {
            links[i].classList.add("external-link");
            links[i].textContent += ' ↗';

            links[i].addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior

            window.open(
                this.href,
                'popupWindow',
                'width=800,height=600,scrollbars=yes,resizable=yes'
            );
        });
    }}

    const body = document.body;
    const scrollUp = "scroll-up";
    const scrollDown = "scroll-down";
    let lastScroll = 0;

    window.addEventListener("scroll", () => {
        const currentScroll = window.scrollY;
        if (currentScroll <= 0) {
            body.classList.remove(scrollUp);
            return;
        }
        if (currentScroll > lastScroll && !body.classList.contains(scrollDown)) {
            body.classList.remove(scrollUp);
            body.classList.add(scrollDown);
        } else if (currentScroll < lastScroll && body.classList.contains(scrollDown)) {
            body.classList.remove(scrollDown);
            body.classList.add(scrollUp);
        }
        lastScroll = currentScroll;
    });

</script>
</html>