---
import BaseLayout from "./BaseLayout.astro";
import SequenceNav from "../components/SequenceNav.astro";
 
const {frontmatter} = Astro.props;
---

<BaseLayout pageTitle = {frontmatter.alias || frontmatter.aliases[0]}>
    <div class="frontmatter-container">
        <div class="tag-container">
            {frontmatter.tags && frontmatter.tags.map((tag) => 
                <div class="tag">{tag}</div>
            )}
        </div>
        <p class="frontmatter">{frontmatter.date.toString().slice(0,10)}</p>
    </div>
    <section class="body-text">
        <slot />
    </section>
    {frontmatter.projectId &&
        <SequenceNav
            projectId={frontmatter.projectId}
            sequence={frontmatter.sequence}
        />
    }
</BaseLayout>