---
import BaseLayout from "./BaseLayout.astro";
import MarkdownImage from "../components/MarkdownImage.astro";

const {frontmatter} = Astro.props;
---

<BaseLayout pageTitle = {frontmatter.alias}>
    <div class="frontmatter-container">
        <div class="tag-container">
            {frontmatter.tags && frontmatter.tags.map((tag) => 
                 <div class="tag">{tag}</div>
            )}
        </div>
        <p class="frontmatter">{frontmatter.date.toString().slice(0,10)}</p>
    </div>
    <section class="body-text">
        <slot/>
    </section>
</BaseLayout>